<section class="addAdmin-page-content mdl-grid dashboard-content mdl-typography--text-center center">
    <div class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col">
        <form class="add-admin-user">
            <div class="mdl-card__title center">
                    <h2 class="mdl-card__title-text mdl-typography--font-light mdl-typography--display-1-color-contrast">Add Admin User</h2>
            </div>
            <div class="mdl-card__actions mdl-typography--font-light mdl-color-text--orange-A200">
                <div class="mdl-grid">
                    {{!-- form questions --}}
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="username"/>
                        <label class="mdl-textfield__label" for="username">Username: </label>
                    </div>
                </div>    
                {{!-- button --}}
                <div class="mdl-card__actions">
                    <button class="mdl-button mdl-js-button mdl-button--raised" type="submit">update</button>
                </div>
            </div>
        </form>
    </div>
</section>
<script src="/javascript/edit-user.js"></script>

{{!-- link to unique styles sheet --}}
<link rel="stylesheet" href="/stylesheets/login-page.css" />