<section class="page-content mdl-grid dashboard-content">
    <div class="mdl-grid mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
        <div class="mdl-card mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
            <canvas id="langCmmtChart"></canvas>
        </div>
    </div>
    <div class="mdl-grid mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
        <div class="mdl-card mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
            <canvas id="pie-chart"></canvas>
        </div>
    </div>
</section>

<script src="/javascript/charts/langCmmtChart.js"></script>
<script src="/javascript/charts/pie-chart.js"></script>