<section class="page-content mdl-grid dashboard-content">
    <div class="mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-grid">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">50</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Comments
        </div>
    </div>
    <div class="mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-grid">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">24</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Votes
        </div>
    </div>
    <div class="mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-grid">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">title Text Goes Here</h2>
        </div>
        <div class="mdl-card__supporting-text">
            This text might describe the photo and provide further information, such as where and
            when it was taken.
        </div>
    </div>
    <div class="mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-grid">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">title Text Goes Here</h2>
        </div>
        <div class="mdl-card__actions">
            <a href="(URL or function)">Related Action</a>
        </div>
    </div>
    <div class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
        <div class="mdl-cell--1-col"></div>
        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
            <canvas id="langCmmtChart"></canvas>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
            <canvas id="pie-chart"></canvas>
        </div>
    </div>
</section>

<script src="/javascript/charts/langCmmtChart.js"></script>
<script src="/javascript/charts/pie-chart.js"></script>