{{!-- each comment will display user's username above the comment --}}
<div class="comments mdl-color-text--grey-700">
  {{#each this}}
  <header class="comment__header">
    <div class="comment__author">
      <strong>{{user.username}}</strong>
    </div>
  </header>
  <div class="comment__text">
    {{comment_text}}
  </div>
  {{!-- <nav class="comment__actions">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
      <i class="material-icons" role="presentation">thumb_up</i><span class="visuallyhidden">like comment</span>
    </button>
  </nav> --}}
  {{/each}}
</div>