{{!-- each comment will display user's username above the comment --}}
<div class="comment mdl-color-text--grey-700">
  {{#each this}}
  <header class="comment__header">
    <div class="comment__author">
      <strong>{{user.username}}</strong>
    </div>
  </header>
  <div class="comment__text">
    {{comment_text}}
  </div>
  {{/each}}
</div>

{{!-- link to unique styles sheet --}}
<link rel="stylesheet" href="/stylesheets/comments.css" />

