
{{!-- {{#filter array "Scripting"}} --}}
<section class="language-section">
    <div class="section-text">
        <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Scripting Languages</div>
    </div>
    <div class="mdl-grid module-cards-list">
        {{!-- each module lesson found in the modules object will be displayed as an individual li --}}
        {{#each languages as |languages|}}
            {{!-- link to views/module-card.handlebars with a module object --}}
            {{> edit-module-card languages}}
        {{/each}}
    </div>
</section>
{{!-- {{else}} --}}
<section class="language-section">
    <div class="section-text">
        <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Programming Languages</div>
    </div>
    <div class="mdl-grid module-cards-list">
        {{!-- each module lesson found in the modules object will be displayed as an individual li --}}
        {{#each programmingModules as |programmingModule|}}
            {{!-- link to views/module-card.handlebars with a module object --}}
            {{> edit-module-card programmingModule}}
        {{/each}}
    </div>
</section>
