<section class="page-content mdl-grid dashboard-content">
    {{!-- card menu --}}
    <div class="mdl-cell mdl-cell--12-col mdl-grid">
        {{#each languages as |languages|}}
            <div class="mdl-cell mdl-cell--2-col mdl-shadow--2dp mdl-color--white mdl-typography--text-center">
                <a class="mdl-navigation__link card__link" href="/language/edit-module/{{name}}">{{> module-card languages}}</a>
            </div>   
        {{/each}} 
    </div>
    <div class="mdl-cell mdl-cell--8-col mdl-grid">

    </div>
</section>
