{{!-- <div class="module-card">
    <img>
    <a href="/module/{{id}}"> {{module_name}} </a>
</div> --}}

{{!-- temporary cards to view on page --}}
<li class="mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--2-col mdl-grid">
    {{!-- icon --}}
    <i class="fab fa-html5 fa-6x"></i>
    {{!-- language name --}}
    <h2 class="mdl-card__title-text">HTML5</h2>
</li>