{{!-- <div class="module-card">
    <img>
    <a href="/module/{{id}}"> {{module_name}} </a>
</div> --}}

<div class="mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--1-col mdl-grid">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">50</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Comments
    </div>
</div>