<section class="header-section">
    <div class="page-header-banner">
        <div class="page-header-banner__title">
            <div class="banner-text mdl-typography--display-2 mdl-typography--font-thin">Welcome</div>
        </div> 
    </div>
</section>

<script src="/javascript/comment.js"></script>