<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LEARN IT</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">LEARN IT</a>
      </h1>
      <navigation id="nav">
          <a href="/login">LOGIN</a>
      </navigation>
    </header>

    <main>
        {{!-- {{body}} links to views/homepage.handlebars file  --}}
      {{{ body }}}
    </main>

    <footer>
      Created by Team 1
    </footer>
  </div>
</body>

</html>