<section class="header-section">
    <div class="page-header-banner">
        <div class="page-header-banner__title">
            <div class="banner-text mdl-typography--display-2 mdl-typography--font-thin">Hello Admin</div>
        </div> 
    </div>
</section>

<form class="add-language-form">

    <h2 class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Add A Language Module</h2>
    <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">
        {{!-- form questions --}}
      <div>
        <label for="name">Name Of Language: </label>
        <input type="text" id="name" placeholder="JavaScript"required/>
      </div>
      <div>
        <label for="description">Description: </label>
        <input type="text" id="description" placeholder="JavaScript is a ..."></input>
      </div>
      <div>
        <label for="organizations">Major Organizations: </label>
        <input type="text" id="organizations" placeholder="Wordpress, SoundCloud " multiple/>
      </div>
      <div>
        <label for="developer">Developed By: </label>
        <input type="text" id="developer" placeholder="Brendan Eich"/>
      </div>
      <div>
        <label for="year-reated">Year Created: </label>
        <input type="number" id="year-created" placeholder="1995"/>
      </div>
      <div>
        <label for="version">Version: </label>
        <input type="text" id="version" placeholder="ECMAScript 2021"/>
      </div>
      <div>
        <label for="ext">File Name Extension: </label>
        <input type="text" id="ext" placeholder=".js"/>
      </div>
      <div>
        <label for="license-owner">Licensed Under: </label>
        <input type="text" id="license-owner" placeholder="GPL"/>
      </div>
      <div>
        <label for="website">Website: </label>
        <input type="text" id="website" placeholder="javascript.com"/>
      </div>
      <div>
        <label for="language-type">Language Type: </label>
        <input type="text" id="language-type" placeholder="Programming"/>
      </div>
      <div>
        <label for="icon-name">Icon Name: </label>
        <input type="text" id="icon-name" placeholder="fa-solid fa-binary"/>
      </div>
      {{!-- button --}}
      <div>
        <button type="submit">submit</button>
      </div>
    </div>
</form>

{{!-- link to unique styles sheet --}}
<link rel="stylesheet" href="/stylesheets/login-page.css" />
<link rel="stylesheet" href="/stylesheets/dashboard.css" />


<script src="/javascript/dashboard.js"></script>


<div class="mdl-grid dashboard-content">
    <div class="mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-grid">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">50</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Comments
        </div>
    </div>
    <div class="mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-grid">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">24</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Votes
        </div>
    </div>
    <div class="mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-grid">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">title Text Goes Here</h2>
        </div>
        <div class="mdl-card__supporting-text">
            This text might describe the photo and provide further information, such as where and
            when it was taken.
        </div>
    </div>
    <div class="mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-grid">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">title Text Goes Here</h2>
        </div>
        <div class="mdl-card__actions">
            <a href="(URL or function)">Related Action</a>
        </div>
    </div>
    <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
        <svg fill="currentColor" viewBox="0 0 500 250" class="demo-graph">
            <use xlink:href="#chart" />
        </svg>
        <svg fill="currentColor" viewBox="0 0 500 250" class="demo-graph">
            <use xlink:href="#chart" />
        </svg>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
            <canvas id="myChart"></canvas>
        </div>
        <div class="mdl-cell--1-col"></div>
        <div class="mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
            <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
            <h3>View options</h3>
            <ul>
                <li>
                <label for="chkbox1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                    <input type="checkbox" id="chkbox1" class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label">Click per object</span>
                </label>
                </li>
                <li>
                <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                    <input type="checkbox" id="chkbox2" class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label">Views per object</span>
                </label>
                </li>
                <li>
                <label for="chkbox3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                    <input type="checkbox" id="chkbox3" class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label">Objects selected</span>
                </label>
                </li>
                <li>
                <label for="chkbox4" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                    <input type="checkbox" id="chkbox4" class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label">Objects viewed</span>
                </label>
                </li>
            </ul>
            </div>
            <div class="mdl-card__actions mdl-card--border">
            <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">Change location</a>
            <div class="mdl-layout-spacer"></div>
            <i class="material-icons">location_on</i>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myChart');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>
