<section class="header-section">
    <div class="page-header-banner">
        <div class="page-header-banner__title">
            <div class="banner-text mdl-typography--display-2 mdl-typography--font-thin">Hello Admin</div>
        </div> 
    </div>
</section>

<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
      <a href="#analytic-panel" class="mdl-tabs__tab is-active">Analytics</a>
      <a href="#add-language-panel" class="mdl-tabs__tab">Add Language Page</a>
      <a href="#edit-language-panel" class="mdl-tabs__tab">Edit Language Page</a>
  </div>

  <div class="mdl-tabs__panel is-active" id="analytic-panel">
    {{> analyticCards}}
  </div>
  <div class="mdl-tabs__panel" id="add-language-panel">
    {{> add-language-form}}
  </div>
  <div class="mdl-tabs__panel" id="edit-language-panel">
    <ul>
      <li>Viserys</li>
      <li>Daenerys</li>
    </ul>
  </div>
</div>


