<section class="header-section">
    <div class="page-header-banner">
        <div class="page-header-banner__title">
            <div class="banner-text mdl-typography--display-1 mdl-typography--font-thin">Dashboard</div>
        </div> 
    </div>
</section>

{{!-- Page Content --}}
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  {{!-- Tab Menu  --}}
  <div class="mdl-tabs__tab-bar">
      <a href="#analytic-panel" class="mdl-tabs__tab is-active">Analytics</a>
      {{#if is_admin}}
      <a href="#add-language-panel" class="mdl-tabs__tab">Add Language Page</a>
      <a href="#edit-language-panel" class="mdl-tabs__tab">Edit Language Page</a>
      <a href="#add-admin-user" class="mdl-tabs__tab">Add Admin User</a>
      {{/if}}
  </div>
  {{!-- Tab content pages --}}
  <div class="mdl-tabs__panel is-active" id="analytic-panel">
    {{!-- Populates Analytics Cards --}}
    {{> analyticCards}}
  </div>
  <div class="mdl-tabs__panel" id="add-language-panel">
    {{!-- Populates form to add languange module --}}
    {{> add-language-form}}
  </div>
  <div class="mdl-tabs__panel" id="edit-language-panel">
    {{!-- populates list of language modules to edit --}}
    {{> edit-modules-page}}
  </div>
  <div class="mdl-tabs__panel" id="add-admin-user">
    {{!-- populates form to add admin user --}}
    {{> add-admin-user}}
  </div>
</div>
