<section>
    <h1>Scripting Languages</h1>
    <ol class="module-cards-list">
        {{!-- each module lesson found in the modules object will be displayed as an individual li --}}
        {{#each scriptingModules as |scriptingModule|}}
        <li>
            {{!-- link to views/module-card.handlebars with a module object --}}
            {{> module-card scriptingModule}}
        </li> 
        {{/each}}
    </ol>
</section>

<section>
    <h1>Programming Languages</h1>
    <ol class="module-cards-list">
        {{!-- each module lesson found in the modules object will be displayed as an individual li --}}
        {{#each programmingModules as |programmingModule|}}
        <li>
            {{!-- link to views/module-card.handlebars with a module object --}}
            {{> module-card programmingModule}}
        </li> 
        {{/each}}
    </ol>
</section>

<section class="language-section">
    <div class="section-text">
        <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Scripting Languages</div>
    </div>
    <div class="mdl-grid module-cards-list">
        {{!-- each module lesson found in the modules object will be displayed as an individual li --}}
        {{#each scriptingModules as |scriptingModule|}}
            {{!-- link to views/module-card.handlebars with a module object --}}
            {{> module-card}}
        {{/each}}
        <div class="mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--1-col mdl-grid">
            <div class="mdl-card_media">
                <i class="fab fa-html5"></i>
            </div>
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">HTML 5</h2>
            </div>

        </div>
        <div class="mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--1-col mdl-grid">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Javascript</h2>
            </div>
        </div>
    </div>
</section>

<section class="language-section">
    <div class="section-text">
        <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Programming Languages</div>
    </div>
    <ol class="module-cards-list">
        {{!-- each module lesson found in the modules object will be displayed as an individual li --}}
        {{#each programmingModules as |programmingModule|}}
        <li>
            {{!-- link to views/module-card.handlebars with a module object --}}
            {{> module-card programmingModule}}
        </li> 
        {{/each}}
    </ol>
</section>