<section class="main-header header-section">
    <div class="page-header-banner">
        <img src="/images/learnIt-Banner.png" alt="" height="250">
    </div>
</section>
{{!-- {{#filter array "Scripting"}} --}}
<section class="section--center mdl-grid center">
  {{#each languages as |languages|}}
    <div class="mdl-cell mdl-cell--2-col mdl-shadow--2dp mdl-color--white mdl-typography--text-center">
      <a class="mdl-navigation__link card__link" href="/language/{{name}}">{{> module-card languages}}</a>
    </div>   
  {{/each}}  
</section>
{{!-- {{else}} --}}
{{!-- <section class="language-section">
    <div class="section-text">
        <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Programming Languages</div>
    </div>
</section> --}}
{{!-- {{/filter}} --}}
