<section class="main-header header-section">
    <div class="page-header-banner">
        <img src="/images/learnIt-Banner.png" alt="" height="250">
    </div>
</section>
<section class="language-section">
    <div class="section-text">
        <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Scripting Languages</div>
    </div>
    <div class="mdl-grid module-cards-list">
 
        {{!-- each module lesson found in the modules object will be displayed as an individual li --}}
        {{#each languages as |languages|}}
            {{!-- link to views/module-card.handlebars with a module object --}}
            {{> module-card languages}}
        {{/each}}
    </div>
</section>

<section class="language-section">
    <div class="section-text">
        <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Programming Languages</div>
    </div>
    <ol class="mdl-grid module-cards-list">

        {{!-- each module lesson found in the modules object will be displayed as an individual li --}}
        {{#each programmingModules as |programmingModule|}}
        <li>
            {{!-- link to views/module-card.handlebars with a module object --}}
            {{> module-card programmingModule}}
        </li> 
        {{/each}}

        <li class="mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--2-col mdl-grid">
            <i class="fab fa-css3 fa-6x"></i>
                <h2 class="mdl-card__title-text">CSS</h2>
        </li>
        <li class="mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--2-col mdl-grid">
            <i class="fab fa-css3 fa-6x"></i>
                <h2 class="mdl-card__title-text">Javascript</h2>
        </li>
        <li class="mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--2-col mdl-grid">
            <i class="fab fa-css3 fa-6x"></i>
                <h2 class="mdl-card__title-text">React</h2>
        </li>

    </ol>
</section>

{{!-- link to unique styles sheet --}}
<link rel="stylesheet" href="/stylesheets/homepage.css" />