{{> smallHeader }}
<section class="page-content mdl-grid dashboard-content mdl-typography--text-center">
  <div class="mdl-card mdl-color--white mdl-shadow--2dp mdl-grid mdl-cell mdl-cell--6-col">
    {{!-- login form --}}
    <form class="login-form">
      <div class="mdl-card__title center">
        <h2 class="mdl-card__title-text mdl-typography--font-light mdl-typography--display-1-color-contrast">Log In</h2>
      </div>
      <div class="mdl-card__actions mdl-typography--font-light mdl-color-text--orange-A200">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label class="mdl-textfield__label" for="email-login">email:</label>
          <input class="mdl-textfield__input" type="text" id="email-login"/>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label class="mdl-textfield__label" for="password-login">password:</label>
          <input class="mdl-textfield__input" type="password" id="password-login"/>
        </div>
        <div class="mdl-card__actions">
          <button class="mdl-button mdl-js-button mdl-button--raised" type="submit">login</button>
        </div>
      </div>
    </form>
  </div>
  <div class="mdl-card mdl-color--white mdl-shadow--2dp mdl-grid mdl-cell mdl-cell--6-col">
    {{!-- sign up form. Only email and password required--}}
    <form class="signup-form">
      <div class="mdl-card__title center">
        <h2 class="mdl-card__title-text mdl-typography--font-light mdl-typography--display-1-color-contrast">Sign Up</h2>
      </div>
      <div class="mdl-card__actions mdl-typography--font-light mdl-color-text--orange-A200">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label class="mdl-textfield__label" for="username-signup">username:</label>
          <input class="mdl-textfield__input" type="text" id="username-signup" />
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label class="mdl-textfield__label" for="email-signup">email:</label>
          <input class="mdl-textfield__input" type="text" id="email-signup" />
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label class="mdl-textfield__label" for="password-signup">password:</label>
          <input class="mdl-textfield__input" type="password" id="password-signup"/>
        </div>
        <div class="mdl-card__actions">
          <button class="mdl-button mdl-js-button mdl-button--raised" type="submit">signup</button>
        </div>
      </div>
    </form>
  </div>
</section>

{{!-- link to js file for functionality --}}
<script src="/javascript/login.js"></script>
{{!-- link to unique styles sheet --}}
<link rel="stylesheet" href="/stylesheets/login-page.css" />