<p class="module-description"> {{module_description}} </p>

{{!-- user comments --}}
{{!-- later i will add an if statement so users who are logged in can see comments --}}
{{> comments module.comments}}