.language-section{
    text-align: center;
}

.module-cards-list {
    display:flex;
    justify-content: center;
}

.mdl-card {
    display: flex;
    justify-content: center;
    position: relative;

}

.mdl-card h2 {
    position:absolute;
    bottom: 25px;
}