/* Primary/Default */

:root {
    --primary-color: #4E5D66;
    --primary-color-hover: #647783;
    --orange-accent: #FE8C4F;
    --green-accent: #7BAD56;
    --blue-accent: #003459;
}

/* Header Classes */

.mdl-layout__header {
    border-bottom: 3px solid var(--primary-color);
}

.mdl-layout-title a {
    text-decoration: none;
    color: var(--primary-color);
}

.mdl-layout__header-row .mdl-navigation__link {
    color: var(--primary-color);
}

/* Section Classes */

.section-text {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 16px 0 16px;
}

.header-section {
    position: relative;
    height: 120px;
}

.main-header {
    height: 250px;
}

.page-header-banner{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: var(--orange-accent);
}

/* DashboardPage - Classes */

.page-content {
    max-width: 1440px;
}

/* Comments CSS */

.comment-content .mdl-card__supporting-text {
    width: 100%;
    padding: 16px;
    min-height: 64px;
    display: flex;
    align-items: center;
  }

.comment-content .comments {
    background-color: #EEE;
}
.comment-content .meta > * {
align-items: center;
}
.comment-content .meta + .mdl-card__supporting-text {
border: 0;
display: flex;
flex-direction: column;
}
.comment-content .meta + .mdl-card__supporting-text p {
max-width: 512px;
margin: 16px auto;
font-size: 16px;
line-height: 28px;
}

.comment-content .comments {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: stretch;
padding: 32px;
box-sizing: border-box;
}
.comment-content .comments > form {
display: flex;
flex-direction: row;
margin-bottom: 16px;
}
.comment-content .comments > form .mdl-textfield {
flex-grow: 1;
margin-right: 16px;
color: rgb(97, 97, 97);
}
/* Workaround for Firefox.
* User agent stylesheet kept overwriting the font in FF only.
*/
.comment-content .comments > form .mdl-textfield .mdl-textfield__input {
font-family: 'Roboto', 'Helvetica', sans-serif;
}
.comment-content .comments > form .mdl-textfield input,
.comment-content .comments > form .mdl-textfield textarea {
resize: none;
}
.comment-content .comments > form button {
margin-top: 20px;
background-color: rgba(254,140,79, 0.75);
color: white;
}

/* Main Page */

.language-section{
    text-align: center;
}

.module-cards-list {
    display:flex;
    justify-content: center;
}

.fa-brands {
    color: var(--primary-color)
}

/* .mdl-card {
    display: flex;
    justify-content: center;
    position: relative;

}

.mdl-card h2 {
    position:absolute;
    bottom: 25px;
} */

.mdl-chip {
    border-radius: 4px;
    margin-left: 5px;
}