/* Primary/Default */
:root {
  --primary-color: #4e5d66;
  --primary-color-hover: #647783;
  --orange-accent: #fe8c4f;
  --green-accent: #7bad56;
  --blue-accent: #003459;
}

/* Header Classes */
.mdl-layout__header {
  border-bottom: 3px solid var(--primary-color);
}

.mdl-card__title {
  min-width: 75px;
}

.mdl-layout-title a {
  text-decoration: none;
  color: var(--primary-color);
}

.mdl-layout__header-row .mdl-navigation__link {
  color: var(--primary-color);
}

/* Section Classes */
.section-text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 16px 0 16px;
}

.header-section {
  position: relative;
  height: 120px;
}

.main-header {
  height: 250px;
}

.page-header-banner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: var(--orange-accent);
}

.page-header-banner__title {
  padding: 38px 16px 0 16px;
}

/* DashboardPage - Classes */
.page-content {
  max-width: 1440px;
}

.addAdmin-page-content {
  max-width: 760px;
}

/* Main Page */
.language-section {
  text-align: center;
}

.fa-brands,
.fa-solid {
  color: var(--primary-color);
}

.center {
  justify-content: center;
}

.mdl-chip {
  border-radius: 4px;
  margin-left: 5px;
}

.mdl-button {
  margin: 5px;
}